h1{
    text-align: center;
    color: #353b48;
}
input[type=text]{
    border: 3px solid rgb(111, 111, 203);
    background-color: rgb(213, 183, 199);
}
input[type=submit]{
    background-color: pink;
    margin-top: 150%;
    border: 3px solid #3594dc;
}
select[name=choose] {
    border: 3px solid rgb(174, 47, 102);
    background-color: #89b2c6;
}

textarea {
    display: flex;
    flex-direction: row;
    position: absolute;
    border: 3px solid #1e7ad1;
}